#div_content {
  background-color: $bgcolor;
  margin: 0 auto;
  font-weight: bold;
  color: $primary-color;
}

.grayFont {
  color: gray;
}
#layout_table {
  width: 100%;
}

#div_currentTeamBuilding {
  width: 150px;
  float: left;
  margin-left: 20px;
}

