#btn_login {
  margin-top: 10px;
  position: relative;
  left: 153px;
}

#btn_register {
  margin-top: 60px;
}

#read_items {
  color: gray;
  font-size: small;
  margin-top: 10px;
  position: relative;
  left: -90px;
}

#items {
  color: #5A6882;
  font-weight: 800;
}

